
package templates

templ InputArea(){
<form id="input-area" class="input-area" ws-send>
    <input name="chat_message" type="text" class="input-field" placeholder="Type a message..."/>
    <button class="send-button">Send</button>
</form>
}